@model IEnumerable<NeZaboravi.Models.Korisnik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username10)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username10)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
